dashboard-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  #grid-container {
    max-width: 70%;
    width: 50%;
  }
  #grid {
    justify-content: center;
    margin: 0 auto;
    justify-items: stretch;
    align-items: stretch;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 178px);
    grid-auto-columns: min-content;
    grid-template-rows: repeat(auto-fill, 94px);
  }
}
